{layout name="layout" /}
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <form action="{:url('evaluate/add_post')}" method="post">
                        <h3>请填写需要添加的评测项目:</h3>
                        <input type="text" name="content" class="form-control" style="width: 500px" required><br>
                        <input type="submit" name="submit" value="保存" class="btn btn-success">
                    </form>
                </div>
            </div>
